<?xml version="1.0"?>
<launch>
	<arg name="model" />
	<param name="robot_description" textfile="$(find irobot)/urdf/irobot_model.urdf" />
	<param name="use_gui" value="false"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find irobot)/irobot_model_urdf.rviz" required="true" />
</launch>
